{% extends "base.html" %}

{% block main %}
<h1>Task list page</h1>
<table>
  <tr>
    <th>title</th>
    <th>Content</th>
    <th colspan="3"></th>
  </tr>
  {% for task in tasks %}
  <tr>
    <td>{{task.title}}</td>
    <td>{{task.content}}</td>
    <td><a href="{% url 'tasks:detail' task.id %}">detail</a></td>
    <td><a href="{% url 'tasks:edit' task.id %}">edit</a></td>
    <td><a href="{% url 'tasks:delete' task.id %}">delete</a></td>
  </tr>
  {% endfor %}
</table>

<br>

<a href="{% url 'tasks:create' %}">create</a>

{% endblock %}
